<?xml version="1.0" encoding="utf-8"?>

<unattendedInstallationConfiguration bundle="Vbr"
                                     mode="install"
                                     version="1.1">

  <properties>

    <!-- License -->

    <property name="ACCEPT_EULA" value="1" />
    <property name="ACCEPT_LICENSING_POLICY" value="1" />
    <property name="ACCEPT_THIRDPARTY_LICENSES" value="1" />
    <property name="ACCEPT_REQUIRED_SOFTWARE" value="1" />

    <property name="VBR_LICENSE_FILE" value="" />

    <property name="VBR_LICENSE_AUTOUPDATE" value="0" />
    <property name="VBR_PROACTIVE_SUPPORT" value="0" />

    <!-- Service Account -->
    <!-- Empty means LOCAL SYSTEM -->

    <property name="VBR_SERVICE_USER" value="" />
    <property name="VBR_SERVICE_PASSWORD" value="" />

    <!-- SQL Configuration -->

    <property name="VBR_SQLSERVER_INSTALL" value="0" />
    <property name="VBR_SQLSERVER_ENGINE" value="0" />

    <property
      name="VBR_SQLSERVER_SERVER"
      value="{{ vbr.hostname }}\{{ sql.instance_name }}" />

    <property
      name="VBR_SQLSERVER_DATABASE"
      value="VeeamBackup" />

    <property
      name="VBR_SQLSERVER_AUTHENTICATION"
      value="0" />

    <property
      name="VBR_SQLSERVER_USERNAME"
      value="" />

    <property
      name="VBR_SQLSERVER_PASSWORD"
      value="" />

    <!-- Disable built-in PostgreSQL -->

    <property
      name="VBR_ENTRAID_DATABASE_INSTALL"
      value="0" />

    <!-- Ports -->

    <property name="VBRC_SERVICE_PORT" value="9393" />
    <property name="VBR_SERVICE_PORT" value="9392" />
    <property name="VBR_RESTSERVICE_PORT" value="9419" />

    <!-- Optional Components Disabled -->

    <property name="AWS_INSTALL" value="0" />
    <property name="AZURE_INSTALL" value="0" />
    <property name="KASTEN_INSTALL" value="0" />
    <property name="UHAPI_INSTALL" value="0" />
    <property name="HPE_INSTALL" value="0" />
    <property name="XEN_INSTALL" value="0" />
    <property name="SCP_INSTALL" value="0" />

    <!-- Reboot -->

    <property name="REBOOT_IF_REQUIRED" value="0" />

  </properties>

</unattendedInstallationConfiguration>
