<?xml version="1.0" encoding="utf-8"?>
<unattendedInstallationConfiguration bundle="Vbr" mode="install" version="1.0">

  <properties>

    <!-- License agreements -->

    <property name="ACCEPT_EULA" value="1" />
    <property name="ACCEPT_LICENSING_POLICY" value="1" />
    <property name="ACCEPT_THIRDPARTY_LICENSES" value="1" />
    <property name="ACCEPT_REQUIRED_SOFTWARE" value="1" />

    <!-- Community Edition -->

    <property name="VBR_LICENSE_FILE" value="0" />

    <property name="VBR_LICENSE_AUTOUPDATE" value="1" />

    <!-- Local System Account -->

    <property name="VBR_SERVICE_USER" value="LocalSystem" />
    <property name="VBR_SERVICE_PASSWORD" value="" hidden="1" />

    <!-- Database configuration -->

    <property name="VBR_SQLSERVER_INSTALL" value="0" />

    <property name="VBR_ENTRAID_DATABASE_INSTALL" value="0" />

    <property name="VBR_SQLSERVER_ENGINE" value="0" />

    <property
      name="VBR_SQLSERVER_SERVER"
      value="{{ vbr.hostname }}\{{ sql.instance_name }}" />

    <property
      name="VBR_SQLSERVER_DATABASE"
      value="VeeamBackup" />

    <property
      name="VBR_SQLSERVER_AUTHENTICATION"
      value="0" />

    <property
      name="VBR_SQLSERVER_USERNAME"
      value="" />

    <property
      name="VBR_SQLSERVER_PASSWORD"
      value=""
      hidden="1" />

    <!-- Ports -->

    <property name="VBRC_SERVICE_PORT" value="9393" />

    <property name="VBR_SERVICE_PORT" value="9392" />

    <property
      name="VBR_SECURE_CONNECTIONS_PORT"
      value="9401" />

    <property
      name="VBR_RESTSERVICE_PORT"
      value="9419" />

    <!-- Data locations -->

    <property
      name="INSTALLDIR"
      value="C:\Program Files\Veeam\Backup and Replication" />

    <property
      name="VM_CATALOGPATH"
      value="C:\VBRCatalog" />

    <property
      name="VBR_IRCACHE"
      value="C:\ProgramData\Veeam\Backup\IRCache" />

    <!-- Disable update checks -->

    <property
      name="VBR_CHECK_UPDATES"
      value="0" />

    <!-- Disable optional plug-ins -->

    <property name="AHV_INSTALL" value="0" />
    <property name="KVM_INSTALL" value="0" />
    <property name="PVE_INSTALL" value="0" />
    <property name="AWS_INSTALL" value="0" />
    <property name="AZURE_INSTALL" value="0" />
    <property name="GCP_INSTALL" value="0" />
    <property name="KASTEN_INSTALL" value="0" />

    <!-- Reboot -->

    <property
      name="REBOOT_IF_REQUIRED"
      value="0" />

  </properties>

</unattendedInstallationConfiguration>
